<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>로그인 성공</title></head>
<body>
<h2>로그인 성공</h2>
<script th:inline="javascript">
    const accessToken = /*[[${accessToken}]]*/ "";
    const provider = /*[[${provider}]]*/ "";

    // 서버로 다시 POST 요청
    fetch(`/login/${provider.toLowerCase()}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ accessToken })
    })
        .then(data => {
            window.location.href = "/";
        })
        .catch(err => {
            console.error("로그인 처리 실패", err);
            window.location.href = "/error";
        });
</script>
</body>
</html>
